.hero {
  text-align: center;
  padding: 2rem 1rem;
  margin-right: 2.5px;
  margin-left: 2.5px;
  background-color: var(--blue-color);
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: white;
}

.hero p {
  font-size: 1rem;
  color: white;
  margin-bottom: 2rem;
}

.hero button {
  padding: 0.7rem 1rem;
  margin: 0 0.5rem;
  font-weight: bold;
  border: none;
  background-color: white;
  font-size: 0.85rem;
  border-radius: 5px;
  cursor: pointer;
}

.hero button:active {
  background-color: lightgray;
}

.hero .session {
  color: var(--blue-color);
}

.hero .learn {
  color: #555;
}
